body{

font-family: Arial,sans-serif;
background-color: #f4f4f4;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
}
.calculator{
    background-color: #333;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    padding: 20px;
    width: 300px;
}
#display{
width: 100%;
height: 50%;
font-size: 24px;
text-align: right;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,3fr);
    grid-gap:15px;
    margin-top: 20px;
}

button{
background-color:#444;
color:white;
font-size: 20px;
border: none;
border-radius: 5px;
padding: 10px 0;
cursor: pointer;

}
.operator{
    background-color: #f7a93a;
    color:#333;
}
.operators{
    background-color: #f7a93a;
    color:#333;
    margin-left: 67.5px;
    width: 200%;
}